<%= form_with(model: fuckup, local: true) do |form| %>
  <% if fuckup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fuckup.errors.count, "error") %> prohibited this fuckup from being saved:</h2>

      <ul>
        <% fuckup.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
