<p id="notice"><%= notice %></p>

<h1>Motivators</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motivators.each do |motivator| %>
      <tr>
        <td><%= motivator.content %></td>
        <td><%= link_to 'Show', motivator %></td>
        <td><%= link_to 'Edit', edit_motivator_path(motivator) %></td>
        <td><%= link_to 'Destroy', motivator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motivator', new_motivator_path %>
