<p id="notice"><%= notice %></p>

<h1>Lessons Learneds</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons_learneds.each do |lessons_learned| %>
      <tr>
        <td><%= lessons_learned.content %></td>
        <td><%= link_to 'Show', lessons_learned %></td>
        <td><%= link_to 'Edit', edit_lessons_learned_path(lessons_learned) %></td>
        <td><%= link_to 'Destroy', lessons_learned, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lessons Learned', new_lessons_learned_path %>
